parameters:
    level: max
    phpVersion:
        min: 80200
        max: 80599
    paths:
        - src
        - tests
        - tools
    excludePaths:
        analyse:
            - tests/Test262/Generated
    treatPhpDocTypesAsCertain: true
